<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2><%= post.title %></h2>
      <%= image_tag(post.post_image.url(:large)) %>
      <div class="discription">
        <%= post.description %>
      </div>
      <div class="actions">
        <%= link_to 'Show', post, class: "btn btn-default" %>&nbsp;&nbsp;
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>&nbsp;&nbsp;
        <%= link_to 'Destroy', post, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>


<%= link_to 'New Post', new_post_path %>
